@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    height: 180px;
}
nav>a:hover{
    color: brown;
    text-decoration: underline;
}
nav > a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding-left: 20px;
}
.centro{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    height: 800px;
    width: 95%;
}
h1,h2{
    padding-bottom: 40px;
    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}