@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    block-size: 0px;
}
.container{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding-left: 20px;
    
}
.main{
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 100px;
    font-size: 3em;
}