@charset "UTF-8";
body{
    background-color: black;
}
H1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: chartreuse;
    text-align: justify;
}