@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --font1 : Verdana, Geneva, Tahoma, sans-serif;

    --font2:'Passion One', sans-serif;

    --font3: 'Sriracha', cursive;


}

*{
    margin: 0px;
    padding: 0px;
}
html , body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--font2);
    
}
header>p{
    padding-bottom: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
section.normal{
    background-color: rgb(255, 255, 255);
    color: black;
}
section.imagem{
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
}
section.imagem>p{
   background-color: rgba(0, 0, 0, 0.397); 
   width: 400px;
}
p{
    padding-left: 20px;
}